<!-- <div class="container">
<h1 style="color: #e73131;">Who we are?</h1>
<pre>
<p style="font-size: 20px; font-family:cursive; font-style: oblique;">    At Girly, our aim is to offer you best dresses that show you
that we really care!

    Not only have we got the trendiest collections, but we can
also guarantee that they are of the finest quality.

    We started as a small business in Tamilnadu, and our aim is
to continue providing our customers with products that keep
them happy, at prices that keep them happy.

    Our customers are our top priority and through our products
we work hard towards building long-lasting and meaningful
relations with them.

    If you’re looking for something new, you’re in the right place.
With a motivated team, we strive to be the creative minds that
bring a smile to your face. -->
<div class="about-section">
  <h1 class="title">Who we are?</h1>
  <div class="content">
    <p>At Girly, our aim is to offer you best dresses that show you that we really care!</p>
    <p>Not only have we got the trendiest collections, but we can also guarantee that they are of the finest quality.</p>
    <p>We started as a small business in Tamilnadu, and our aim is to continue providing our customers with products that keep them happy, at prices that keep them happy.</p>
    <p>Our customers are our top priority and through our products we work hard towards building long-lasting and meaningful relations with them.</p>
    <p>If you’re looking for something new, you’re in the right place. With a motivated team, we strive to be the creative minds that bring a smile to your face.</p>
  </div>
</div>
