<div class="login-card">
  <div class="card">
    <div class="card-header">
      <div class="card-title">Login</div>
      <div class="card-subtitle">With Girly</div>
    </div>
    <div class="card-content">
      <form (ngSubmit)="onSubmit()">
        <div class="form-field">
          <label>Email</label>
          <input id="login-email" type="email" [(ngModel)]="email" name="email" placeholder="Enter your email" required>
        </div>
        <div class="form-field">
          <label>Password</label>
          <input id="login-password" type="password" [(ngModel)]="password" name="password" placeholder="Enter your password" required>
        </div>
        <a href="#">forgot password?</a>
        <div class="login">
          <button class="login-button" type="submit">Login</button>
        </div>
        <a [routerLink]="'/register'">New User? Create an account</a>
      </form>
    </div>
  </div>
</div>

