<div class="register-card">
  <div class="card">
    <div class="card-header">
      <div class="card-title">Forgot password</div>
    </div>
    <div class="card-content">
      <form [formGroup]="forgotForm">
        <div class="form-field">
          <label>Email</label>
          <input type="email" formControlName="email" placeholder="Enter your email">
          <div class="error-message" *ngIf="email.invalid && email.touched">
            {{ getEmailErrorMessage() }}
          </div>
        </div>
        <div class="register">
          <button [disabled]="forgotForm.invalid" class="register-button" (click)="forgotPassword()">Send link</button>
        </div>
        <a [routerLink]="'/login'">Back to Login </a>
      </form>
    </div>
  </div>
</div>



