<p>sidenav works!</p>
<!--<div class="sidenav" style="float:left; width:30%">
  <mat-sidenav-container>
    <mat-sidenav opened>[(opened)]="opened"
      <mat-nav-list style="width: 200px;">

        <a mat-list-item><span class="nav">Kurtis & Kurta Sets</span></a>
        <a mat-list-item><span class="nav">Sarees</span></a>
        <a mat-list-item><span class="nav">Westernwear</span></a>
        <a mat-list-item><span class="nav">Dupattas</span></a>
      </mat-nav-list>
    </mat-sidenav>
    <mat-sidenav-content>
      <div>
        <button id="cat" mat-button (click)="opened=!opened">
          <mat-icon>menu</mat-icon>Categories
        </button>
      </div>
      <router-outlet></router-outlet>
      <p style="height: 88vh;"></p>
    </mat-sidenav-content>
  </mat-sidenav-container>
</div>
-->
